*{
    padding: 0px;
    margin: 0px;
    font-family: 'Gotham Light', sans-serif;
}

html{
    background-color: #f3f2ef;
}

svg{
    height: 40px;
    position: relative;
    display: inline-block;
    left: 11vw;
    bottom: -15px;
}

.text1 {
    font-weight: 00;
    height: 5vh;
    width: 50vw;
    position: relative;
    display: inline-block;
    align-items: center;
    font-size: 32px;
    letter-spacing: 1px;
    left: 33vw;
    top: 7vh;
}

.maingrid{
    height: 430px;
    background-color: white;
    width: 25vw;
    position: relative;
    display: grid;
    left: 38vw;
    top: 10vh;
    border-radius: 10px;
}

.email{
    color: #666666;
    font-size: 17px;
    position: relative;
    display: inline-block;
    top: 1.5vh;
    left: 1vw;
}

input{
    position: relative;
    display: inline-block;
    left: 1vw;
    width: 21.5vw;
    padding: 0.8vh;
    border: #666666 solid 1.5px;
    border-radius: 4px;
}

.pw{
    color: #666666;
    font-size: 17px;
    position: relative;
    display: inline-block;
    bottom: 0.25vh;
    left: 1vw;
}

.pwbox{
    bottom: 2vh;
}

.privacy{
    font-size: 13.5px;
    text-align: center;
    position: relative;
    display: inline-block;
    bottom: 1.5vh;
    color: #666666;
    font-weight: 500;
}

.span{
    color: #0B66C2;
    font-weight: 550;
    cursor: pointer;
}

.btn{
    background-color: rgb(11,102,194);
    color: white;
    cursor: pointer;
    border-radius: 100px;
    width: 22vw;
    position: relative;
    display: inline-block;
    left: 1.5vw;
    height: 5.25vh;
    border: #666666;
}

.line{
    background-color: white;
    border-top: rgb(204,207,210) solid 1px;
    height: 1vh;
    position: relative;
    display: inline-block;
    left: 2vw;
    width: 9vw;
    bottom: -2.6vh;
}

.line1{
    background-color: white;
    border-top: rgb(204,207,210) solid 1px;
    height: 1vh;
    position: relative;
    display: inline-block;
    left: 14vw;
    width: 9vw;
    bottom: 5.2vh;

}

.or{
    position: relative;
    display: inline-block;
    bottom: 2vh;
    left: 12vw;
}

.gbtn{
    background-color: white;
    color: black;
    border: black solid 1px;
    cursor: pointer;
    border-radius: 100px;
    width: 20vw;
    position: relative;
    display: inline-block;
    left: 2.5vw;
    height: 5vh;
    bottom: 2.5vh;
}

.login{
    position: relative;
    display: inline-block;
    bottom: 1.5vh;
    left: 5vw;
}

.signin{
    color: #0B66C2;
    font-weight: 300;
}

.look{
    font-size: 14px;
    position: relative;
    display: inline-block;
    bottom: -11.75vh;
    left: 40.75vw;
}

a {
    color: #0a66c2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: .6vw 0;
}

.copyright {
    display: flex;
    align-items: center;
    pointer-events: none;
}

.copyright * {
    margin: 0 .2vw;
}

.copyright img {
    width: 60px;
    filter: grayscale(100%);
}

footer * {
    color: #00000099;
    font-size: .8vw;
}

footer > * {
    margin: 1vh;
}

footer > *:hover {
    color: #0a66c2;
}